<%= form_with model: @game, method: :patch, data: { turbo:"false", keyboard_target: "form" }, html: { autocomplete: "off" }, 
id: dom_id(@game), class: "grid justify-center justify-items-center grid-cols-5 gap-y-2 gap-x-2 max-w-md mx-auto mt-2" do |form| %>
    <%= form.fields_for :guesses, @game.guesses.order(:created_at) do |ff| %>
        <% if ff.object.value != '' %>
            <div id="input_<%= dom_id(ff.object)%>" class="w-12 h-12 sm:w-14 sm:h-14">
                <%= tag.div :value, class: ["flex
                                             justify-center
                                             items-center
                                             text-center
                                             uppercase 
                                             text-3xl
                                             text-white
                                             rounded 
                                             focus:border-cyan-400
                                             w-full h-full",
                                             "bg-green-400": ff.object.result == 'match',
                                             "bg-orange-400": ff.object.result == 'occurs',
                                             "bg-gray-400": ff.object.result == 'miss' ] do %>
                    <%= ff.object.value %>
                <% end %>
            </div>
        <% elsif session[:player_id] != @game.find_player(@game.active_player).id && ff.object.value == '' %>
            <div id="input_<%= dom_id(ff.object)%>" class="w-12 h-12 sm:w-14 sm:h-14">
                <%= tag.div :value, class: ["text-center
                                             uppercase
                                             text-3xl
                                             text-white
                                             bg-slate-800
                                             border
                                             rounded
                                             w-full
                                             h-full"] do %>
                    <%= ff.object.value %>
                <% end %>
            </div>
        <% else %>
            <div id="input_<%= dom_id(ff.object)%>" class="w-12 h-12 sm:w-14 sm:h-14">
                <%= ff.text_field :value, class: ["text-center
                                                   uppercase
                                                   caret-transparent
                                                   text-3xl
                                                   text-white
                                                   bg-slate-800
                                                   border
                                                   rounded
                                                   focus:
                                                   focus:outline
                                                   focus:outline-2 
                                                   focus:outline-indigo-600
                                                   focus:border-none
                                                   w-full
                                                   h-full",
                                                   "bg-green-400": ff.object.result == 'match',
                                                   "bg-orange-400": ff.object.result == 'occurs',
                                                   "bg-gray-400": ff.object.result == 'miss' ], 
                                                   data: {keyboard_target: 'inputBox'}, readonly: "true", maxlength: "1" %>
            </div>
        <% end %>
    <% end %> 
    <%= form.submit "Submit", class: "hidden" %>
<% end %>