
<% if @game.guesses.count > 0 %>
        <%= tag.div id: "row", class: ["flex my-1 justify-center", "hidden": @game.guesses.count == 0 ] do %>
            <% @game.guesses.count.times do |i| %>
                <% if [0,1,2,3,4].include?(i) %>
                    <%= render "guess/guess", :guess => @game.guesses.all[i] %>
                <% end %>
            <% end %>
        <% end %>    
        <%= tag.div id: "row", class: ["flex my-1 h-16 justify-center", "hidden": @game.guesses.count < 6 ] do %>
            <% @game.guesses.count.times do |i| %>
                <% if [5,6,7,8,9].include?(i) %>
                    <%= render "guess/guess", :guess => @game.guesses.all[i] %>
                <% end %>
            <% end %>
        <% end %>    
        <%= tag.div id: "row", class: ["flex my-1 h-16 justify-center", "hidden": @game.guesses.count < 11 ] do %>
            <% @game.guesses.count.times do |i| %>
                <% if [10,11,12,13,14].include?(i)  %>
                    <%= render "guess/guess", :guess => @game.guesses.all[i] %>
                <% end %>
            <% end %>
        <% end %> 
        <%= tag.div id: "row", class: ["flex my-1 h-16 justify-center", "hidden": @game.guesses.count < 16 ] do %>
            <% @game.guesses.count.times do |i| %>
                <% if [15,16,17,18,19].include?(i) %>
                    <%= render "guess/guess", :guess => @game.guesses.all[i] %>
                <% end %>
            <% end %>
        <% end %> 
        <%= tag.div id: "row", class: ["flex my-1 h-16 justify-center", "hidden": @game.guesses.count < 21 ] do %>
            <% @game.guesses.count.times do |i| %>
                <% if [20,21,22,23,24].include?(i)  %>
                    <%= render "guess/guess", :guess => @game.guesses.all[i] %>
                <% end %>
            <% end %>
        <% end %> 
        <%= tag.div id: "row", class: ["flex my-1 h-16 justify-center", "hidden": @game.guesses.count < 26 ] do %>
            <% @game.guesses.count.times do |i| %>
                <% if [25,26,27,28,29].include?(i) %>
                    <%= render "guess/guess", :guess => @game.guesses.all[i] %>
                <% end %>
            <% end %>
        <% end %> 
<% end %>
<div>
    <% ((30 - @game.guesses.count) / 5).times do |row| %>
        <%= form_with model: @game, url:[@game, @guess], html: { autocomplete: "off" }, method: :post, data: { input_target: "form", action: "submit->input#validateForm"} do |form| %>
            <div id="row_<%= row %>" class="flex my-1 h-16 justify-center">
                    <% 5.times do |col| %>
                        <input data-action="keydown->input#validateInput" data-input-target="inputBox" maxlength="1" class=" text-center uppercase caret-transparent text-3xl bg-gray-100 border border-solid rounded border-slate-400 w-16 mx-1 focus:ring-0 focus:border-4 focus:border-indigo-400 " type="text" name="value_<%=col%>" id="guess" autofocus>
                    <% end %>
            </div>
            <%= form.submit "Submit", class: "hidden" %>
        <% end %>
    <% end %>
</div>        