<div class="flex justify-center">
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> Q <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> W <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> E <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> R <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> T <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> Y <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> U <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> I <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> O <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> P <% end %>
  </div>
  <div class="flex justify-center mt-2">
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> A <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> S <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> D <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> F <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> G <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> H <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> J <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> K <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> L <% end %>
  </div>
  <div class="flex justify-center mt-2">
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-lg mx-1 min-h-60px min-w-60px"] do %> Enter <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> Z <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> X <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> C <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> V <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> B <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> N <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-2xl mx-1 min-h-60px min-w-60px"] do %> M <% end %>
    <%= tag.div class: ["bg-gray-100 flex justify-center items-center text-base mx-1 min-h-60px min-w-60px"] do %> Delete <% end %>
  </div>

