<div class="flex justify-center">
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border", "bg-gray-400": @game.misses?('q') == true,  "bg-orange-300": @game.occurances?('q') == true, "bg-green-300": @game.matches?('q') == true] do %> Q <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> W <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> E <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> R <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> T <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> Y <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> U <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> I <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> O <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> P <% end %>
  </div>
  <div class="flex justify-center mt-2">
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> A <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> S <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> D <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> F <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> G <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> H <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> J <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> K <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> L <% end %>
  </div>
  <div class="flex justify-center mt-2">
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-sm mx-1 min-h-45px min-w-45px rounded-sm border"] do %> Enter <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> Z <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> X <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> C <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> V <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> B <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> N <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-2xl mx-1 min-h-45px min-w-45px rounded-sm border"] do %> M <% end %>
    <%= tag.div class: ["bg-gray-800 text-white flex justify-center items-center text-sm mx-1 min-h-45px min-w-45px rounded-sm border"] do %> Del <% end %>
  </div>

