<div class="flex justify-center">
    <%= button_to 'Q', game_guesses_path(@game), params: {value: "Q"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'W', game_guesses_path(@game), params: {value: "W"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'E', game_guesses_path(@game), params: {value: "E"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'R', game_guesses_path(@game), params: {value: "R"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'T', game_guesses_path(@game), params: {value: "T"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'Y', game_guesses_path(@game), params: {value: "Y"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'U', game_guesses_path(@game), params: {value: "U"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'I', game_guesses_path(@game), params: {value: "I"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'O', game_guesses_path(@game), params: {value: "O"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'P', game_guesses_path(@game), params: {value: "P"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
  </div>
  <div class="flex justify-center mt-2">
    <%= button_to 'A', game_guesses_path(@game), params: {value: "A"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'S', game_guesses_path(@game), params: {value: "S"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'D', game_guesses_path(@game), params: {value: "D"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'F', game_guesses_path(@game), params: {value: "F"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'G', game_guesses_path(@game), params: {value: "G"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'H', game_guesses_path(@game), params: {value: "H"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'J', game_guesses_path(@game), params: {value: "J"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'K', game_guesses_path(@game), params: {value: "K"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'L', game_guesses_path(@game), params: {value: "L"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
  </div>
  <div class="flex justify-center mt-2">
    <%= button_to 'enter', game_guesses_path(@game), params: {value: ""}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-xl mx-1" %>
    <%= button_to 'Z', game_guesses_path(@game), params: {value: "Z"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'X', game_guesses_path(@game), params: {value: "X"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'C', game_guesses_path(@game), params: {value: "C"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'V', game_guesses_path(@game), params: {value: "V"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'B', game_guesses_path(@game), params: {value: "B"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'N', game_guesses_path(@game), params: {value: "N"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'M', game_guesses_path(@game), params: {value: "M"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
    <%= button_to 'del', game_guesses_path(@game), params: {value: "I"}, class: "bg-gray-100 w-16 h-16 flex justify-center items-center text-2xl mx-1" %>
  </div>