<!-- Game info / result section -->
<section class="game-info flex flex-col justify-center text-center text-3xl text-white">
    <div class="my-5 font-bold">
        <span class="text-orange-500"><%= @game.find_player(@game.active_player).name.capitalize %></span>
        <span> is playing 🔥</span>
    </div>
    <div id="<%= @game.id %>_result_section" class="flex flex-col items-center justify-center mx-2">
        <%= render 'games/result', :game => @game %>
    </div>
    <div id="<%= @game.id %>_player_ready" class="flex justify-center">
        <%= render 'playerReady', :game => @game %>
    </div>
    <div id="<%= @game.id %>_waiting_message">
        <%= render 'waitingMessage', :game => @game %>
    </div>
<div class="flex justify-center items-center">
    <div id="<%= session[:player_id] %>_start_new_round_btn" class="flex justify-center items-center">
        <%= render 'startNewRoundBtn', :game => @game %>
    </div>
    <div id="<%= @game.id %>_scoreboardBtn" class="flex justify-center items-center">
        <%= render 'scoreboardBtn', :game => @game %>
    </div>

</div>
</section>

<section class="game-content flex flex-col justify-between md:justify-start" data-controller="input display" data-action="keyup->input#hardwareKey resize@window->display#gameContentHeight resize@window->display#gameInfoHeight" data-input-target="gameContent">
    <!--  main game area  -->
    <div class="flex">

        <div class="hidden md:flex md:flex-col md:w-2/5">
        </div>

        <div class="flex flex-col w-full max-w-lg mx-auto md:py-0">
           <%= render "game", :game => @game %>
        </div>

        <div class="hidden md:flex md:flex-col md:w-2/5">
       </div>
    </div>

    <div class="flex items-center md:relative justify-center w-full mt-5 md:mt-10">
        <div  id="<%= @game.id %>_keyboard"  class="w-full">
            <%= render "keyboard", :game => @game %>
        </div>
    </div>
</section>

<section data-controller="display">
    <div id="<%= @game.id %>_scoreboard" class="">
        <%= render 'games/scoreboard', :game => @game %>
    </div>
</section>

<!-- Game setup / URL share screens -->
<% if !@game.ready %>
        <%= render "gameSetup", :game => @game %>
<% end %>